@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
}