.header-content {
    width: 100%;
    padding: 0px;
    color: white;
    background-color: #272727;
    box-shadow: 6px 6px 6px #a0a0a0;

    p {
        padding: 40px;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.table-header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 32px;

    h3 {
        font-size: 30px;
    }

    button {
        font-size: 22px;
        padding: 16px;
        background-color: #38c3ff;
        box-shadow: 6px 6px 6px #a0a0a0;
        border-radius: 16px;
        color: white;
        cursor: pointer;
    }
}

.table {
    width: 1000px;
    box-shadow: 6px 6px 6px #a0a0a0;
    border-radius: 6px;
    padding: 10px;

    .user-table {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 10px;
    }

    .align-center {
        text-align: center;
        padding: 10px;
    }

    .align-left {
        text-align: left;
    }

    .icons-align {
        text-align: center;
        padding: 10px;

        button {
            background-color: white;
        }
    }
}

.img-simulation {
    background-color: #d9d9d9;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    border-radius: 200px;
}

.icon-remove {
    img {
        width: 23px;
        margin-left: 10px;
    }
}

.request-alert {
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    animation: slide-up 0.5s ease-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media(max-width: 1000px){
    .table{
        width: 100%;
    }
    .table-header{
        width: 100%;
    }
}


@media (max-width: 600px) {
    .table-container {
      padding: 0;
    }
  
    .table-header {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0;
      margin-bottom: 16px;
      padding: 0 16px;
    }
  
    .table {
      width: 100%;
      font-size: 14px;
      overflow-x: scroll;
    }
  
    .align-center,
    .icons-align,
    .align-left {
      padding: 8px;
      text-align: left;
    }
  
    .user-table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 0;
    }
  
    .table tr {
      border-bottom: 1px solid #ccc;
    }
  }
