.header-content{
    width: 100%;
    padding: 26px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #272727;
}

.table-container{
    width: 900px;
    justify-content: center;
    align-items: center;
    padding: 40px;
}